.col-lg-2 {
  background-color: #000;
  height:80px;
}

.nav {
  background-color: #000;
  height:40px;
  border-left: 5px solid #fff;
}
.col-lg-12 {
  background-color: #000;
  height: 480px;
}
.border-top {
  border-top: 5px solid #fff;
}
.col-lg-6 {
  background-color: #000;
  height:80px;
}
.col-lg-3 {
  background-color: #000;
  height:80px;
}
.border-left {
  border-left: 5px solid #fff;
}
.big-border-top {
  border-top: 40px solid #fff;
}
.border-bottom {
  border-bottom: 40px solid #fff;
}
